.calcApp {
  text-align: center;
  min-height: 100vh;
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calcContainer {
  background: #09F4B3;
  width: 300px;
  height: 580px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.screen {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #282c34;
  color: #FFFFFF;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
}

.buttonTiles {
  display: flex;
}

.numTiles {
  display: flex;
  /* flex: 1 1 100px; */
  width: 200px;
  flex-wrap: wrap;
}

.functionTiles {
  display: flex;
  flex-direction: column;
}

.functionTiles .tile{
  background-color: #234c61;
}

.equalButton {
  background-color: #C59615 !important;
}

.tile {
  color: #FFFFFF;
  width: 90px;
  height: 75px;
  margin: 5px;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.msClearContainer {
  display: flex;
}
